<div class="main-container">
  <section class="card-container">
    <mat-card *ngFor="let person of people" (click)="selectPerson(person, $event)" class="card">
      <mat-card-content [id]="'person-'+person.id" >{{person.name}}</mat-card-content>
    </mat-card>
    <form (ngSubmit)="addPerson(nameInput)" >
      <mat-form-field (submit)="addPerson(nameInput)" style="width: 300px">
        <input matInput #nameInput placeholder="Add person" >
      </mat-form-field>
    </form>
  </section>

  <section #otherPeopleDiv class="card-container">
    <mat-card *ngFor="let person of otherPeople" [id]="'other-person-'+person.id" (mouseup)="addRelation(person)" class="card">
      <mat-card-content>{{person.name}}</mat-card-content>
    </mat-card>
  </section>
</div>
