<div class="main-container">
  <section class="card-container">
    <mat-card *ngFor="let person of people" (click)="selectPerson(person, $event)" class="card">
      <mat-card-content>{{person.name}}</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <mat-form-field>
          <input matInput #nameInput placeholder="Name">
        </mat-form-field>
        <button (click)="addPerson(nameInput)" mat-raised-button>Add</button>
      </mat-card-content>
    </mat-card>
  </section>

  <section #otherPeopleDiv class="card-container">
    <mat-card *ngFor="let person of otherPeople" class="card">
      <mat-card-content>{{person.name}}</mat-card-content>
    </mat-card>
  </section>
</div>
