<div>
  <button mat-fab routerLink=".." class="fab-main">
    <mat-icon class="mat-18">manage_accounts</mat-icon>
  </button>
  <div>
    <div class="header-container">
      <h1>
        Table / group assignment
      </h1>
    </div>
    <button mat-raised-button color="primary" (click)="recompute()" >
      Recompute
    </button>
    <div class="card-container">
      <mat-card *ngFor="let group of groups">
        <mat-card-header>
          <mat-card-title>Table {{group.tableGroup.id}} capacity:{{group.tableGroup.capacity}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let person of group.people">
            <p>{{person.name}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
