<div class="container">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" required [(ngModel)]="model.username" name="username" #username="ngModel">
            <mat-error *ngIf="username.invalid && username.touched">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <mat-error *ngIf="password.invalid && password.touched">Password is required</mat-error>
          </mat-form-field>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="button" (click)="goToLogin()">Login instead</button>
            <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.form.valid">Register</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div *ngIf="failureMessage" class="error-message">
      <span>{{failureMessage}}</span>
    </div>
  </div>
</div>
