<div class="card-container">
  <h2>Tables</h2>
  <form (submit)="addGroup(capacity.value, target.value)" class="table-form">
    <mat-form-field class="full-width-input">
      <input matInput type="number" placeholder="Target" #target>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput type="number" placeholder="Capacity" #capacity>
    </mat-form-field>
    <button mat-icon-button type="submit" color="primary">
      <mat-icon>
        add_circle
      </mat-icon>
    </button>
  </form>
  <mat-card *ngFor="let group of groups">
    <mat-card-content class="card-content">
    <span>
      {{ group.target }}
    </span>
    <span>
      {{ group.capacity }}
    </span>
      <button mat-icon-button color="warn" (click)="deleteGroup(group.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
